.home .banner {
    background: url("/assets/images/Seattle_banner_2100_270.jpg") center;
    background-size: auto 100%;
    color: #fff;
}

.home .site-header {
    color: #fff;
    /*color: black;*/
}

.home .banner .collection-head {
    color: #fff;
    /*color: black;*/
    background: 0 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: center;
}

.home .banner .collection-head .collection-title {
    display: inherit;
}

.home .site-header {
    border-bottom: none
}

.home .site-header h1 a {
    /*color: #fff;*/
    color: black
}

.home .site-header .site-header-nav-item {
    /*color: rgba(255, 255, 255, .5);*/
    color: rgba(0, 0, 0, .5)
}

.home .site-header .site-header-nav-item:hover {
    /*color: #fff;*/
    color: black;
}


@media (max-width:50em) {
  .home .collapsed .icon-bar {
      /*background-color: white;*/
      color: black;
  }

  .home .collection-head .collection-header {
    font-size: 1.25em;
  }
}



/*Customization*/

.logo_home {
    width: 100px;
    height: 100px;
}